*{
    box-sizing: border-box;
}

play=swap');

body{
    font-size: 16px;
    color: #ffffff;
    background-color: #61122f;
    font-family: 'Montserrat', sans-serif;
   
}
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.navbar-brand{
    text-shadow: 1px 1px 1px #222222;
}
#item-2{
    color: black;
    background-color:palegreen;
    
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.w-100{
    height: 85vh;
}

